.button {
  &.outlined-btn {
    padding: 3px 16px;
    border: solid green;
    border-width: 0.5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
  }
  &.disabled {
    color: black;
    border: 1px solid black;
  }
  &.danger {
    background-color: red;
  }
}
